@import '~bootstrap/scss/bootstrap';

html,
body {
  overflow-x: hidden;
}

header.header {
  width: 100vw;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $gray-300;
}

div.appContainer {
  @include make-container();
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

@mixin bordered() {
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  padding: 20px;
}

@mixin templatePage() {
  margin: 0 auto;
  width: 100vw;
  min-height: calc(100vh - 50px);
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

div.page {
  @include templatePage();
  article {
    width: min(1000px, 100vw);
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
    @include bordered();

    h1,
    h2 {
      color: $primary;
      font-weight: 500;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
      color: $dark;
      font-weight: 400;
      text-align: justify;

      @media screen and (min-width: 768px) {
        padding: 0 50px;
      }
    }
  }
}

form.form {
  width: min(800px, 100vw);
  align-self: center;
  @include bordered();

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

div.radioInputContainer {
  text-align: center;

  div {
    padding: 5px;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
      margin-right: 5px;
    }
  }
}

div.actionButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

@keyframes fadeInKeyframes {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

div.blackScreen {
  animation: 1s fadeInKeyframes ease;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.confirmModal {
  width: min(100vw, 400px);
  padding: 10px;
  height: auto;
  background: $white;
  border-radius: $border-radius;
}

div.confirmModalHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

div.loading {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dialog {
  padding: 15px;
  font-weight: $font-weight-bold;
}

div.warningDialog {
  @include dialog();
  color: $danger;
}

div.confirmDialog {
  @include dialog();
  color: $dark;
}

button.actionButton,
a.actionButton {
  min-height: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  svg {
    fill: white;
  }
}

a.nav-link-active {
  color: $primary;
  font-weight: $font-weight-bold;
}

div.dataModal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid $gray-300;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  height: auto;
  padding: 30px 50px;
  background: $white;
  width: min(100vw, 1200px);
  overflow-y: auto;

  @media screen and (max-width: 768px) and (min-width: 500px) {
    width: 80%;
    height: 90%;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    height: 90%;
    padding: 15px 20px;
  }
}

div.dataArticles {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
}

h2.modalTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: $primary;
  text-align: center;
}

article.dataSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  span {
    text-align: center;
    word-break: break-all;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: $primary;
    align-self: center;
    text-transform: capitalize;
  }
}

@mixin consultContent() {
  width: min(600px, 100vw);
  align-self: flex-start;
  @include bordered();
  display: flex;
  flex-direction: column;
}

form.consultForm {
  gap: 20px;
  @include consultContent();
}

div.consultResult {
  @include consultContent();
  align-items: center;
  gap: 10px;

  h2,
  h3 {
    color: $primary;
    font-weight: 500;
  }
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  div.row {
    width: 100%;
    text-align: center;
  }
}
